<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafoto</title>

    <!--
    - favicon
  -->
    <link rel="shortcut icon" href="./assets/images/logo/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link   rel="stylesheet" href="./assets/fontawesome-free-6.4.2-web/css/all.min.css">
    <!-- custom css link -->
    <link rel="stylesheet" href="./assets/css/style-prefix.css">

    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

</head>

<body>


    <div class="overlay" data-overlay></div>



    <!-- - HEADER -->

    <header>

        <div class="header-main">
            <div class="container">
                <a href="#" class="header-logo">
                    <img src="./assets/images/logo/logo.jpg" alt="Anon's logo" width="120" height="36">
                </a>
                <div class="header-search-container">
                    <input type="search" name="search" class="search-field" placeholder="Enter your product name...">
                    <button class="search-btn">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>
                </div>
                <div class="header-user-actions">
                    <div class="dropdown">
                        <button class="action-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <ion-icon name="person-outline"></ion-icon>
                        </button>
                        <ul class="dropdown-menu profile" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="./profile.html"><i class="fa-solid fa-user"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="./forms/index.html"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                        </ul>
                    </div>
                    <div class="dropdown fav">
                        <button class="action-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <ion-icon name="heart-outline"></ion-icon>
                            <span class="count">0</span>
                        </button>
                        <ul class="dropdown-menu wide" aria-labelledby="dropdownMenuButton1">
                            <li class="shop-content">
                                <img src="./assets/images/logo/logo.jpg" alt="product">
                                <div class="shop-body">
                                    <button class="remove"><i class="fas fa-times"></i></button>
                                    <span>Product Name</span>
                                    <p class="text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, pariatur nihil vero eius distinctio </p>
                                </div>
                            </li>
                            <hr>
                            <li class="shop-content">
                                <img src="./assets/images/logo/logo.jpg" alt="product">
                                <div class="shop-body">
                                    <button class="remove"><i class="fas fa-times"></i></button>
                                    <span>Product Name</span>
                                    <p class="text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, pariatur nihil vero eius distinctio </p>
                                </div>
                            </li>
                            <hr>
                        </ul>
                    </div>
                    <div class="dropdown shop">
                        <button class="action-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <ion-icon name="bag-handle-outline"></ion-icon> <i class="fas fa-sort-down"></i>
                            <span class="count">0</span>
                        </button>
                        <ul class="dropdown-menu wide" aria-labelledby="dropdownMenuButton1">
                            <li class="shop-content">
                                <img src="./assets/images/logo/logo.jpg" alt="product">
                                <div class="shop-body">
                                    <span>Product Name</span>
                                    <p class="text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, pariatur nihil vero eius distinctio </p>
                                </div>
                            </li>
                            <hr>
                            <li class="shop-content">
                                <img src="./assets/images/logo/logo.jpg" alt="product">
                                <div class="shop-body">
                                    <span>Product Name</span>
                                    <p class="text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, pariatur nihil vero eius distinctio </p>
                                </div>
                            </li>
                            <hr>
                            <li><a class="dropdown-item" href="#"><button type="button" class="btn btn-success btn-block">Check Out</button></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="mobile-bottom-navigation">
            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="menu-outline"></ion-icon>
            </button>
            <button class="action-btn">
                <ion-icon name="bag-handle-outline"></ion-icon>
                <span class="count">0</span>
            </button>
            <button class="action-btn">
                <ion-icon name="home-outline"></ion-icon>
            </button>
            <button class="action-btn">
                <ion-icon name="heart-outline"></ion-icon>
                <span class="count">0</span>
            </button>
            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="grid-outline"></ion-icon>
            </button>
        </div>

    </header>





    <!-- - MAIN -->

    <main>

        <div class="product-container">

            <div class="container">



                <div class="product-box">

                    <div class="product-featured">

                        <!-- <h2 class="title">Deal of the day</h2> -->

                        <div class="showcase-wrapper has-scrollbar">

                            <div class="" style="padding: 10px;">

                                <div class="showcase">

                                    <div class="showcase-banner">
                                        <img src="./assets/img/7.jpg" alt="shampoo, conditioner & facewash packs"
                                            class="showcase-img">
                                    </div>

                                    <div class="showcase-content">
                                        <h3 class="showcase-title">Product Status
                                        </h3>
                                        <p class="showcase-desc">
                                            
                                            Dimensions available: <br> (60*40) cm<br>(90*60) cm<br> (100*70)
                                            cm<br>(120*80) cm
                                            <br> (150*100) cm<br>High definition picture printed on high-quality canvas
                                            for texture and finish; premium inks for vivid color; hand-stretched on
                                            inner wood frame, Easy to hang
                                        </p>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </main>





    <!-- - FOOTER -->

    <footer>
        <div class="footer-bottom">

            <div class="container">

                <p class="copyright">
                    Copyright &copy; <a href="#">Portafoto</a> all rights reserved.
                </p>

            </div>

        </div>

    </footer>




    <script src="https://releases.jquery.com/git/jquery-git.js"></script>

    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/fontawesome-free-6.4.2-web/js/all.min.js"></script>
    <!-- - custom js link -->
    <script src="./assets/js/script.js"></script>

    <!--  - ionicon link -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    <script>
        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    </script>
</body>

</html>